/*This section is for Income statement styling*/
.income-statement {
  background-color: #f2f2f2;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 10px;
}

table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
}

thead th {
  background-color: #333;
  color: #fff;
}

tfoot td {
  background-color: #ddd;
  font-weight: bold;
}

tfoot td:first-child {
  text-align: right;
}

tfoot td:last-child {
  text-align: left;
}

.net-income {
  margin-top: 20px;
  font-weight: bold;
}

/*This section is for OE statement styling*/

.owner-equity-statement {
  margin-top: 100px;
  background-color: #f2f2f2;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.column-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.column {
  flex: 1;
  margin-right: 20px;
}

h3 {
  margin-bottom: 10px;
}

.column > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.total-accounts,
.total-withdrawals-losses {
  margin-top: 10px;
  font-weight: bold;
}

.owner-equity {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-weight: bold;
}





/*This section is for OE statement styling*/


.balance-sheet-statement{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 100px;
}
#oe{
  font-weight: normal;
}
#EqualityBold{
  font-weight: bold;
}
